html {
    font-size: 125%;
}

.wrapper {
    max-width: 1400px;
}

body {
  width: 100%;
}

.main {
  display: flex;
}

.gameBoard {
  margin: 50px  ;
  text-align: center;
}

.row {
  height: 100px;
}

.square {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 4px solid $brown;
  width: 100px;
  height: 100px;

  // &:focus,
  // &:hover {
  //   border: 2px dotted mediumpurple;
  // }
}

.whiteSquare {
  background-color: $beige;
}

.blackSquare {
  background-color: $blue;
}

.blackPiece:before{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $black;
    border: 20px solid $darkBlack;
    top: 45px;
    transform: translateY(-50%);
}

.redPiece:before{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $red;
    border: 20px solid $darkRed;
    top: 45px;
    transform: translateY(-50%);
}

.blackSelected {
  background-color: lighten($blue, 30%);

  &::before{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $lightBlack;
    border: 20px solid lighten($black, 10%);
    top: 45px;
    transform: translateY(-50%);
  }
}

.redSelected {
  background-color: lighten($blue, 30%);

  &::before {
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $lightRed;
    border: 20px solid lighten($red, 10%);
    top: 45px;
    transform: translateY(-50%);
  }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
  }

.noPlay{
  animation-name: 'fade';
  animation: blinking 1.5s linear;

  &::before{
    border: 0;
    width: 95px;
    height: 95px;
    background-color: $yellow;
    top: 45px;
    transform: translateY(-50%);
    animation-name: 'fade';
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }         
}