html {
    font-size: 125%;
}

.wrapper {
    max-width: 1400px;
}

body {
  width: 100%;
}

.gameBoard {
  margin: 50px auto;
  text-align: center;
}

.row {
  height: 100px;
}

.white, .black {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 4px solid $brown;
  width: 100px;
  height: 100px;
}

.white {
  background-color: $beige;
}

.black {
  background-color: $blue;
}

.blackPiece:before{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $black;
    border: 20px solid $darkBlack;
    top: 45px;
    transform: translateY(-50%);
}

.redPiece:before{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: block;
    position: relative;
    background-color: $red;
    border: 20px solid $darkRed;
    top: 45px;
    transform: translateY(-50%);
}

.blackSelected {
  background-color: lighten($blue, 20%);

  &::before {
    background-color: lighten($black, 10%);
    border: 20px solid lighten($darkBlack, 10%);
  }
}


.red {
  background-color: lighten($blue, 20%);

  &::before {
    background-color: lighten($red, 10%);
    border: 20px solid lighten($darkRed, 10%);
  }
}