// Colours
$black: #31373a;
$darkBlack: darken($black, 5%);
$lightBlack: lighten($black, 20%);
$red: #e22d42;
$darkRed: darken($red, 5%);
$lightRed: lighten($red, 20%);
$blue: #4782b2;
$beige: #f2f0ed;
$brown: #30261d;
$yellow: #fff728;
// $redFade: rgba(rgba(226, 45, 66, 1));