// Colours
$black: #31373a;
$dark-black: darken($black, 5%);
$light-black: lighten($black, 40%);
$red: #e22d42;
$dark-red: darken($red, 5%);
$light-red: lighten($red, 25%);
$blue: #4782b2;
$beige: #f2f0ed;
$brown: #30261d;
$yellow: #e7ed36;
$primary-font: 'Roboto', sans-serif;
$secondary-font:'Cormorant Garamond', serif;