article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1.2px;
}

body {
  background-color: #eddae4;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.outer-box {
  display: block;
  position: relative;
  margin: 20px;
}

.inner-box {
  visibility: hidden;
}

.game-instructions {
  margin: 20px 100px 50px 0;
}

h1 {
  position: relative;
  width: 70%;
  margin: 0;
  color: #31373a;
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 span {
  color: #e22d42;
}

h1::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 50%;
  bottom: 0;
  left: 25%;
  background: #31373a;
}

.game-board {
  position: relative;
  float: left;
  padding: 50px;
}

.game-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 40px 40px;
  height: calc(90px * 7);
}

.game-info h2 {
  margin: 0;
  font-size: 2.6rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.game-info .player-box h2 {
  color: grey;
}

.game-info .player-box h3 {
  margin-top: 30px;
  color: #252a2c;
}

.game-info .player-box p {
  margin-top: 50px;
}

.game-info .player-box:first-of-type .player-turn {
  color: #252a2c;
}

.game-info .player-box:last-of-type .player-turn {
  color: #e22d42;
}

.row {
  height: 90px;
}

.square {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: 3px solid #30261d;
  width: 90px;
  height: 90px;
}

.white-square {
  background-color: #f2f0ed;
}

.black-square {
  background-color: #4782b2;
}

.black-piece:before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
  background-color: #31373a;
  border: 17.5px solid #252a2c;
  top: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.red-piece:before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
  background-color: #e22d42;
  border: 17.5px solid #d81e33;
  top: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.king-piece:before {
  background-color: #f6fc4b;
}

.black-selected {
  background-color: #8db3d2;
}

.black-selected::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
  background-color: #939ea4;
  border: 17.5px solid #485156;
  top: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.red-selected {
  background-color: #8db3d2;
}

.red-selected::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
  background-color: #f19da7;
  border: 17.5px solid #e85a6a;
  top: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.king-selected:before {
  background-color: #fbfeaf;
}

@-webkit-keyframes blinking {
  0% {
    background-color: #e22d42;
  }
}

@keyframes blinking {
  0% {
    background-color: #e22d42;
  }
}

.no-play {
  -webkit-animation: blinking 2s linear;
          animation: blinking 2s linear;
}

@-webkit-keyframes black-flicker {
  0% {
    background: #4782b2;
  }
  6% {
    background: #f2f0ed;
  }
  12% {
    background: #4782b2;
  }
  18% {
    background: #f2f0ed;
  }
  24% {
    background: #4782b2;
  }
  30% {
    background: #f2f0ed;
  }
  36% {
    background: #4782b2;
  }
  42% {
    background: #f2f0ed;
  }
  48% {
    background: #4782b2;
  }
  54% {
    background: #4782b2;
  }
  59% {
    background: #f2f0ed;
  }
  64% {
    background: #4782b2;
  }
  69% {
    background: #f2f0ed;
  }
  74% {
    background: #4782b2;
  }
  79% {
    background: #f2f0ed;
  }
  84% {
    background: #4782b2;
  }
  92% {
    background: #f2f0ed;
  }
  96% {
    background: #4782b2;
  }
}

@keyframes black-flicker {
  0% {
    background: #4782b2;
  }
  6% {
    background: #f2f0ed;
  }
  12% {
    background: #4782b2;
  }
  18% {
    background: #f2f0ed;
  }
  24% {
    background: #4782b2;
  }
  30% {
    background: #f2f0ed;
  }
  36% {
    background: #4782b2;
  }
  42% {
    background: #f2f0ed;
  }
  48% {
    background: #4782b2;
  }
  54% {
    background: #4782b2;
  }
  59% {
    background: #f2f0ed;
  }
  64% {
    background: #4782b2;
  }
  69% {
    background: #f2f0ed;
  }
  74% {
    background: #4782b2;
  }
  79% {
    background: #f2f0ed;
  }
  84% {
    background: #4782b2;
  }
  92% {
    background: #f2f0ed;
  }
  96% {
    background: #4782b2;
  }
}

@-webkit-keyframes white-flicker {
  0% {
    background: #f2f0ed;
  }
  6% {
    background: #4782b2;
  }
  12% {
    background: #f2f0ed;
  }
  18% {
    background: #4782b2;
  }
  24% {
    background: #f2f0ed;
  }
  30% {
    background: #4782b2;
  }
  36% {
    background: #f2f0ed;
  }
  42% {
    background: #4782b2;
  }
  48% {
    background: #f2f0ed;
  }
  54% {
    background: #4782b2;
  }
  59% {
    background: #f2f0ed;
  }
  64% {
    background: #4782b2;
  }
  69% {
    background: #f2f0ed;
  }
  74% {
    background: #4782b2;
  }
  79% {
    background: #f2f0ed;
  }
  84% {
    background: #4782b2;
  }
  92% {
    background: #f2f0ed;
  }
  96% {
    background: #4782b2;
  }
}

@keyframes white-flicker {
  0% {
    background: #f2f0ed;
  }
  6% {
    background: #4782b2;
  }
  12% {
    background: #f2f0ed;
  }
  18% {
    background: #4782b2;
  }
  24% {
    background: #f2f0ed;
  }
  30% {
    background: #4782b2;
  }
  36% {
    background: #f2f0ed;
  }
  42% {
    background: #4782b2;
  }
  48% {
    background: #f2f0ed;
  }
  54% {
    background: #4782b2;
  }
  59% {
    background: #f2f0ed;
  }
  64% {
    background: #4782b2;
  }
  69% {
    background: #f2f0ed;
  }
  74% {
    background: #4782b2;
  }
  79% {
    background: #f2f0ed;
  }
  84% {
    background: #4782b2;
  }
  92% {
    background: #f2f0ed;
  }
  96% {
    background: #4782b2;
  }
}

.white-flicker {
  -webkit-animation: white-flicker 3s;
          animation: white-flicker 3s;
}

.black-flicker {
  -webkit-animation: black-flicker 3s;
          animation: black-flicker 3s;
}

@-webkit-keyframes black-jump {
  0% {
    background: #31373a;
  }
}

@keyframes black-jump {
  0% {
    background: #31373a;
  }
}

@-webkit-keyframes red-jump {
  0% {
    background: #e22d42;
  }
}

@keyframes red-jump {
  0% {
    background: #e22d42;
  }
}

@-webkit-keyframes gold-jump {
  0% {
    background: #f6fc4b;
  }
}

@keyframes gold-jump {
  0% {
    background: #f6fc4b;
  }
}

.black-jump {
  -webkit-animation: black-jump 1.8s;
          animation: black-jump 1.8s;
}

.red-jump {
  -webkit-animation: red-jump 1.8s;
          animation: red-jump 1.8s;
}

.gold-jump {
  -webkit-animation: gold-jump 3.5s;
          animation: gold-jump 3.5s;
}

.instructions-box {
  position: absolute;
  left: 200px;
  bottom: 100px;
  opacity: .9;
  padding: 30px;
  height: 250px;
  width: 440px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 2px 25px 0 rgba(50, 50, 50, 0.5);
          box-shadow: 5px 2px 25px 0 rgba(50, 50, 50, 0.5);
  background-color: #f2f0ed;
}

.instructions-box .instructions {
  margin: 0;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 255, 0.5);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #252a2c;
}

footer .socialIcons .fab {
  margin: 20px;
  font-size: 1.4rem;
  color: #f2f0ed;
}

footer p {
  color: #f2f0ed;
  text-align: center;
}

@media (max-width: 1175px) {
  .outer-box {
    margin: 0 auto;
  }
  .game-instructions {
    margin-right: 50px;
  }
  h1 {
    margin: 20px auto;
  }
  .game-board {
    float: none;
    padding: 0;
    text-align: center;
  }
  .game-info {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    padding: 50px;
    height: 300px;
  }
  .game-info .player-outer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .game-info .player-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-top: 50px;
    text-align: center;
  }
  .game-info h3 {
    font-size: 1.2rem;
  }
  p {
    margin-bottom: 20px;
    text-align: center;
  }
  .instructions-box {
    left: 30%;
    bottom: 40%;
  }
}

@media (max-width: 740px) {
  .instructions-box {
    visibility: hidden;
  }
  .inner-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    background: rgba(255, 255, 255, 0.3);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 30vh 50px;
    color: black;
    font-size: 2rem;
  }
}
